## DJANGO CRAP

HistoGlobe_server/migrations/
*.pyc


## OTHER CRAP

*.pdf
Thumbs.db


### DATA FOLDERS

data/
misc/
HistoGlobe_client/config/common/tiles


### HISTOGLOBE BUILD CRAP

HistoGlobe_client/build
HistoGlobe_client/script/histoglobe.min.js
HistoGlobe_client/style/histoglobe.min.css
